@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.w-128 {
    width: 32rem;
}

.top-55-p {
    top: 55%;
}

.right-53-p {
    right: 53%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}